@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New Movie","New","Movies", new { @class = "btn btn-primary" })

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul>
                @foreach (var movie in Model)
                {
                    <li>@Html.ActionLink(@movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</li>
                }
            </ul>
        </div>
        <div class="col-sm-6">
            <ul>
                @foreach (var movie in Model)
                {
                    <li>@movie.Genre</li>
                }
            </ul>
        </div>
    </div>
</div>
